.banner{
    background:linear-gradient(97.54deg, #864b72 35.49%, #ff00dd 165.37%);
    color: wheat;
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 22px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 800;
    margin: 1em 0;
    font-size: 15px;
}

.banner__pesquisa {
    background: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px; 
    padding: 1em;
    width: 100%;

}
.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal) ;
    font-size: 17px;
    font-weight: 1000;
    text-align:center;
    color: var(--branco );
    background: url(../img/Pesquisa.svg) no-repeat;
    background-position: 50px;

}
.imagem__banner{
 background:url(../img/banner.png) no-repeat;
 width: 100px;
 
}