.cabecalho_menu-hambirguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 12px;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: inline-block;
}

.lista-menu__titulo, 
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco) ;
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu__link{
     background: linear-gradient(97.54deg, #00025f 35.49%, #5795f1 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase ;
}
.container__botao {
    display: none;
}
